@import 'tailwindcss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

html{
    scroll-behavior: smooth
}

body{
    background: radial-gradient(circle, #1FC4E2 0%, #356EAF 100%);
}

a{
    text-decoration: none;
    color: #000000;
}
